

header {
    margin-inline-start: 0mm; margin: 0%; height: 500px; width: 100%; display: flex;position: absolute; justify-content: center;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif,sans-serif; font-size: 50px; display: flex;  
}

header img {
    border-radius: 50%; border: 5px solid gold; display: flex; margin-left: 125px;
}

h2{
    background-color: pink;
    color: white;
    margin-left: 1%;
    margin-top: 3.5%; 
    font-size: 20px;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0%;
    background-size: cover; 
    display: flex;
}

main {
    align-items: center;
    position: relative;
    display: flex;
    margin-top: 500px;
    font-size: 15px;
}

p{
    color: black;
}

div{
    justify-content: space-around;
    margin-top: 4px;
}

i{
    color: pink; 
}

b{
    color: rebeccapurple;
}

footer{
    height: 200px;
    margin: 0%; 
    margin-bottom: 0%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
}

footer i{
font-size: 50px;
}